* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1440px;
    width: 100%;
    padding: 0 16px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

@mixin btn1  {
    padding: 10px 20px;
    gap: 10px;
    width: 138px;
    height: 40px;
    background: #685ED6;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.07);
    border-radius: 6px;
    border: none;
    margin-top: 45px;
}
