.header__nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-top: 32px;
   background: rgba(242, 247, 255, 0.5);
   backdrop-filter: blur(50px);
}

@media only screen and (min-width: 375px) {
    .header__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header__nav-title {
        display: none;
    }
}

.header__nav-logo {
    padding: 0 0 0 120px;
}

.header__nav-title {
    padding: 0 110px 0 0;
}
.header__nav-title a:active {
    color: #FFFFFF;
}
.header__nav-btn1 {
    border:  1px solid;
    border: none;
    padding: 10px 20px;
    background: #F1E4FF;
    border-radius: 6px;
    margin-right: 12px;
}

.header__nav-btn1 a {
    color: #685ED6;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
}

.header__nav-btn1:hover {
    background: #C39BFB;
}

.header__nav-btn1:active {
    background: #685ED6;
}

.header__nav-btn2 {
    padding: 10px 20px;
    gap: 10px;
    width: 138px;
    height: 40px;
    background: #685ED6;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.07);
    border-radius: 6px;
    border: none;
}

.header__nav-btn2 a {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}

.header__nav-btn2:hover {
    background: #33AFE1;
}

.header__nav-btn2:active {
    background: #18E1F7;
}
