.online__boxs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 110px 80px;
    background: rgba(242, 247, 255, 0.5);
    backdrop-filter: blur(50px);
}

@media only screen and (max-width: 375px) {
    .online__box-title h2 {
        display: inline-block;
        font-style: normal;
        font-weight: 800;
        font-size: 28px;
        line-height: 40px;
        width: 284px;
        height: 40px;
        max-width: 310px;
        width: 80%;
    }

    .online__boxs {
        display: grid;
        grid-template-columns: repeat(1, 2fr);
        max-width: 310px;
        width: 80%;
    }

    .online__box-title--item h4 {
        width: 135px;
        height: 32px;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 32px;
        margin: 18px 0;
    }

    .online__boxs-img img {
        width: 300px;
        height: 487px;
    }
}

.online__box-title h2 {
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 30px;
    color: #1D2530;
    padding-bottom: 60px;
}

.online__box-title--item {
    display: flex;
    align-items: center;
    padding: 40px 0;
}

.online__box-title--item img {
  padding-right: 30px;
}

.online__box-title--item h4 {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #1D2530;
}

.online__box-title--item p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #1D2530;
}

.online__boxs-img {
    padding: 0 140px 86px 0;
}
